
#
# WiFi Operation Modes
#
CONFIG_MTK_WIFI7_SEL_DUAL_BAND_SUPPORT=y
CONFIG_MTK_WIFI7_SKU_TYPE="BE3600SDB"
CONFIG_MTK_WIFI7_6G_SUPPORT=y
CONFIG_first_card_profile_path="/etc/wireless/mediatek/mt7992.1_1.dat"
CONFIG_first_card_EEPROM_name="e2p_2_5"
CONFIG_first_card_EEPROM_def_bin_path="/lib/firmware/MT7992_BE3600SDB_2i5i.bin"
