###############################################################################################
#
#  General Setting
#
###############################################################################################
general:
    platform: ag3352
    config_version: v2.0


###############################################################################################
#
#  Main Region Setting
#
###############################################################################################
main_region:
    address_type: physical
    rom_list:
        - rom:
            file: bootloader.bin
            name: BootLoader
            begin_address: 0x08001000
        - rom:
            file: partition_table.bin
            name: PartitionTable
            begin_address: 0x08000000
        - rom:
            file: gnss_demo.bin
            name: MCU_FW
            begin_address: 0x08009000
        - rom:
            file: gnss_config.bin
            name: GNSS_CFG
            begin_address: 0x081FF000
