#
# Custom config for ccn34
#
CONFIG_MTK_WIFI7_TXRX_STAT_SUPPORT=y
CONFIG_MTK_WIFI7_TR181_SUPPORT=y
# CONFIG_MTK_HWIFI_WED_SUPPORT is not set
CONFIG_MTK_HWIFI_MT7990_RRO_SUPPORT="N"
CONFIG_MTK_HWIFI_SW_AMSDU=y
CONFIG_MTK_WIFI7_EXPERIMENTAL_FEATURES=y
CONFIG_MTK_HWIFI_RX_PROCESS_WORKQUEUE=y
# CONFIG_PACKAGE_kmod-warp is not set
CONFIG_MTK_WIFI7_IGMP_SNOOP_SUPPORT=m
CONFIG_MTK_WIFI7_RTMP_WLAN_HOOK_SUPPORT=m
CONFIG_MTK_WIFI7_SPECIAL_RPS_SUPPORT=y
CONFIG_MTK_WIFI7_BA_REORDER_ARRAY_SUPPORT=y

#
# WiFi Operation Modes
#
CONFIG_PACKAGE_kmod-mt7902_gen4m=y
CONFIG_PACKAGE_kmod-clickos=y
CONFIG_PACKAGE_ioctl_test=y
CONFIG_PACKAGE_kmod-eip197_driver=y

#
# cfg80211_on patch config flow
#
CONFIG_PACKAGE_mwctl=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_MTK_WIFI7_CFG80211_SUPPORT=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_wpa-cli=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_MTK_WIFI7_HOSTAPD_MBSS_SUPPORT=y
CONFIG_MTK_WIFI7_APCLI_SUPPLICANT_SUPPORT=y
CONFIG_MTK_WIFI7_RA_PHY_RATE_SUPPORT=y

#
# TOPS configuration
#
CONFIG_PACKAGE_kmod-tops=y
CONFIG_MTK_TOPS_GRE_OFFLOAD=y
CONFIG_MTK_TOPS_CAPWAP=y
CONFIG_MTK_TOPS_CAPWAP_DTLS=y
CONFIG_TOPS_TNL_32=y
CONFIG_TOPS_TNL_NUM=32
CONFIG_TOPS_TNL_MAP_BIT=5
CONFIG_MTK_TOPS_IAP_SUPPORT=y
CONFIG_MTK_TOPS_RSS_SUPPORT=y
CONFIG_PACKAGE_tops-iap-fw=y
CONFIG_TOPS_FLOW_NUM=1024
# CONFIG_MTK_TOPS_L2TP is not set
# CONFIG_MTK_TOPS_IP_L2TP is not set
# CONFIG_MTK_TOPS_UDP_L2TP_CTRL is not set
# CONFIG_MTK_TOPS_UDP_L2TP_DATA is not set
# CONFIG_MTK_TOPS_REBB_SUPPORT is not set
# CONFIG_PACKAGE_tops-rebb-fw is not set
# end of TOPS configuration

CONFIG_PACKAGE_kmod-tops-autoload=y
# CONFIG_PACKAGE_kmod-tops-eval is not set

CONFIG_PACKAGE_tops-tool=y

#
# TOPS Evaluation Configuration
#
# CONFIG_MTK_TOPS_CORE_DEBUG is not set
CONFIG_MTK_TOPS_NORMAL_RUN=y
# CONFIG_MTK_TOPS_DVT is not set
# CONFIG_MTK_TOPS_SLT is not set
# end of TOPS Evaluation Configuration
#

# SPLIT MAC Configuration
#
CONFIG_MTK_WIFI7_CCN34_SPLIT_MAC_SUPPORT=y
#
# end of SPLIT MAC Configuration

